<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/tx">

    <!--读取数据库配置文件：database.properties-->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:database.properties"/>
    </bean>

    <!--配置数据源-->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!--配置SqlSessionFactoryBean-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--引入数据源-->
        <property name="dataSource" ref="dataSource"/>
        <!--引用Mybatis配置文件-->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <!--<property name="typeAliasesPackage" value="cn.bdqn.pojo"/>--><!--mybatis-config.xml里面有写-->
        <!--配置Mapper映射文件-->
        <property name="mapperLocations">
            <list>
                <value>classpath:cn/appsys/dao/**/*.xml</value>
                <!--  <value>classpath:cn/smbms/dao/bill/BillMapper.xml</value>-->
            </list>
        </property>
    </bean>

    <!--配置SqlsessionTempate:用来获取Sqlsession对象-->
    <!-- <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>-->

    <!--配置dao组件 ，并且注入到sqlSessionTemplate实例中-->
    <!-- <bean id="UserMapper" class="cn.smbms.dao.user.UserMapperImpl">
        <property name="sqlSession" ref="sqlSessionTemplate"/>
    </bean>-->

    <!--配置User service组件-->
    <!--<bean id="userService" class="cn.smbms.service.user.impl.UserServiceImpl">
        &lt;!&ndash;映入UserMappper组件&ndash;&gt;
        <property name="userMapper" ref="UserMapper"/>
    </bean>-->

    <!--   <bean id="ProviderMapper" class="cn.smbms.dao.provider.ProviderMapperImpl">
        <property name="sqlSession" ref="sqlSessionTemplate"/>
    </bean>-->


    <!--通过SqlsessionDao简化Mapper的显示注入-->
    <!-- <bean id="providerMapper" class="cn.smbms.dao.provider.ProviderMapperImpl">
        &lt;!&ndash;引入SqlSession对象&ndash;&gt;
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>-->


    <!--注入映射器：MapperFactoryBean-->
    <!--   <bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
        <property name="mapperInterface" value="cn.smbms.dao.user.UserMapper"/>
     </bean>

    <bean id="ProviderMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
        <property name="mapperInterface" value="cn.smbms.dao.user.UserMapper"/>
    </bean>-->


    <!--使用MapperScannerConfigurer注入映射器-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>-->
        <property name="basePackage" value="cn.bdqn.dao"/>
    </bean>

    <!--自动扫描-->
    <context:component-scan base-package="cn.bdqn.service"/>
</beans>
